@model GeoQuiz.Models.HighScore

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HighScore</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nadimak)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nadimak)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bodovi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bodovi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SifraHS }) |
    @Html.ActionLink("Back to List", "Index")
</p>
