@model IEnumerable<GeoQuiz.Models.HighScore>

@{
    ViewBag.Title = "GeoQuiz";
}


<body class="container body-content">

    <table class="table">
        <tr>
            <th>
                <h2><b>@Html.DisplayNameFor(model => model.Nick)</b></h2>
            </th>
            <th>
                <h2><b>@Html.DisplayNameFor(model => model.Score)</b></h2>
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <h4>@Html.DisplayFor(modelItem => item.Nick)</h4>
                </td>
                <td>
                    <h4>@Html.DisplayFor(modelItem => item.Score)</h4>
                </td>
                @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.SifraHS }) |
                    @Html.ActionLink("Details", "Details", new { id = item.SifraHS }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.SifraHS })
                </td>*@
            </tr>
        }

    </table>
    </body>
