@model GeoQuiz.Models.Drzava

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Drzava</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GlavniGrad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GlavniGrad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zastava)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zastava)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrojStanovnika)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrojStanovnika)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NazivDrzavaHr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NazivDrzavaHr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NazivDrzavaEng)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NazivDrzavaEng)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kontinent.NazivKontinentHr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kontinent.NazivKontinentHr)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SifraDrzava }) |
    @Html.ActionLink("Back to List", "Index")
</p>
